﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Welcome to the Book Store</h1>
        @Html.ActionLink("Go to Library", "Library")
    </div>
</body>
</html>
