﻿@using SheridanLibrary.Domain.Entities

@model IEnumerable<Book>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Library</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("FilterProducts","Home"))
        {
            <p>Filter by Genre: </p>@Html.DropDownList("GenreFilter", new SelectList(Enum.GetNames(typeof(BookGenre))),"Show All")
            
            <input type="submit" value="Apply Filter" />
        }
        @using (Html.BeginForm("BookFilter", "Home"))
        {
            <p>Filter by Title: </p>@Html.TextBox("title")

            <input type="submit" value="Apply Filter" />
        }

       </div>
    <div>
        @using (Html.BeginForm("FilterRating","Home"))
        {
            <p>Filter by Rating:</p>@Html.TextBox("rating")
            <input type="submit" value="Apply Filter" />
        }
    </div>
    <div> <h1>Library</h1>

        @foreach (Book b in Model)
        {
            <p>Name: @b.Name.</p>
            <p>Author: @b.Author</p>
            <p>Genre: @b.Genre</p>
            <p>Rating: @b.Rating.ToString()</p>
            <p>
                @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.Hidden("bookId", b.ID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" value="Add To Cart" />
                }
        </p>
        <br />
        } 
            

    </div>
</body>
</html>
