﻿@using SheridanLibrary.Domain.Entities
@model BookCart

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <thead>
                <tr>
                    <td>Book Title</td>
                    <td>Author</td>
                    <td>Genre</td>
                    <td>Rating</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Book book in Model._bookList)
                   {
                        <tr>
                            <td>@book.Name</td>
                            <td>@book.Author</td>
                            <td>@book.Genre</td>
                            <td>@book.Rating</td>
                        </tr>
                    }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Book Count:</td>
                    <td>@Model._bookList.Count()</td>
                </tr>
            </tfoot>
        </table>
        <div> <a href="@ViewBag.ReturnUrl">Continue to Library</a></div>
        <div>@Html.ActionLink("Cancel Order","cancelSession")</div>
    </div>
</body>
</html>
